body{
    background-color: #3B3A40;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #734B34;
    border: 5px solid #0D0D0D;
    border-radius: 10px;
    color: white;
}

#dashboard {
    flex: 1;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}
button{
    background-color: #D9B9A7;
    border: 2px solid #0D0D0D;
}

#noteboard {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    min-height: 500px;
    margin-top: 2.5%;
    margin-right: 2.5%;
    background-color: #D9B9A7;
    font-family: cursive;
    padding: 5px;
    border: 5px solid #0D0D0D;
}

.note {
    margin: 5px;
    padding: 5px;
    flex: 1 1 200px;
    height: 150px;
    border: 5px solid transparent;
    color: #0D0D0D;
    background-color: #d1bc00;
}

#note-title{
    background-color: #D9B9A7;
    border: 2px solid #0D0D0D;
}
#note-content{
    background-color: #D9B9A7;
    border: 2px solid #0D0D0D;
}